Package: com.ch33ze.brightnesstray
Name: Brightness Tray
Version: 0.1.1
Architecture: iphoneos-arm
Description: Adds a brightness slider as an extra page in the app switcher.
Maintainer: CH33ZE
Author: CH33ZE
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 6.0), firmware (<< 7.0)
