Package: com.ch33ze.navtunesimporter
Name: NavTunes Importer
Version: 0.2.9
Architecture: iphoneos-arm
Description: Browse and download music from Navidrome directly in iOS 6 Music. Adds a server tab with playlists and import queue.
Maintainer: CH33ZE
Author: CH33ZE
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 6.0), firmware (<< 7.0)
